.App {
  text-align: center;
}

.MuiTableHead-root{
  background-color: #d6d6d6;
}
.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon{
  align-self: flex-end;
  margin-bottom: 2px;
}